<div class="row container-fluid fill">
    <div class="col col-md-6 bg-light float-left ps-5">
            <div class="gap">

            </div>
            <div class="pb-1">
                <h1 class="headtext">Attendnce </h1>
            </div>
            <div class="mt-1 mb-5">
                <b>Mannage your attendence seemlessly</b>
            </div>
            <div class="mt-1">
                <b><h1 class="enjoy">ENJOY |</h1></b>
            </div>
            <div class="mt-5 pt-4">
                <a routerLink="/add" class="btn btn-dark btxn btnlg">Enter</a>
            </div>
            <div class="gapm">

            </div>
    </div>
    <div class="col col-md-6 bg-light back ps-5">
        <div class="gap">

        </div>
        <div class="mt-3 px-5">
            <b>
                <h3 class="enjoy">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Eligendi, libero.
            </h3>
            </b>
        </div>

    </div>
</div>